<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>index</display-name>
	<welcome-file-list>
		<welcome-file>tempstart.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>MainServlet</display-name>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>by.nesterenok.testyourself.web.controller.MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/MainServlet</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:web-context.xml</param-value>
	</context-param>


	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>by.nesterenok.testyourself.web.listener.WebSimpleListener</listener-class>
	</listener>
	
	<filter>
    <filter-name>Encoding Filter</filter-name>
    <filter-class>by.nesterenok.testyourself.web.filter.EncodingFilter</filter-class>
      <init-param>
        <param-name>requestEncoding</param-name>
        <param-value>UTF8</param-value>
      </init-param>
  </filter>

  <filter-mapping>
    <filter-name>Encoding Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>